body {
  background-color: lightpink;
}
div {
  float: left;
  width: 200px;
  height: 140px;
  background-color: lightslategray;
  display: inline-block;
  margin: 10px;
  overflow: hidden;
}
.ss {
  clear: left;
  width: 1500px;
  height: 200px;
  overflow-y: scroll;
  border-top: 2xp solid black;
  border-bottom: 2xp solid black;
}
